
@media (min-width: 576px) {
  .container,.container-sm {
      max-width:540px
  }
}

@media (min-width: 768px) {
  .container,.container-md,.container-sm {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .container,.container-lg,.container-md,.container-sm {
      max-width:960px
  }
}

@media (min-width: 1200px) {
  .container,.container-lg,.container-md,.container-sm,.container-xl {
      max-width:1140px
  }
}
#preview {
  margin: 0 auto;
  max-width: 1100px;
  padding:1em;
}
#preview pre {
  counter-reset: line;
  padding: 10px;
}
#preview pre span {
}
/* code {
display: flex !important;
flex-direction: column !important;
} */
code {
  display: block;
  padding: 1.2rem 0.7rem !important;
  background-color: #f1f1f1 !important;
  white-space: break-spaces;
  overflow: visible !important;
}
pre {
  width: 100%;
  margin: 0;
  padding: 20px;
  overflow: visible;
}
code p {
  margin: 0;
  padding:0.2rem 0.4rem ;
  position: relative;
  background-color: #f1f1f1;
  overflow: visible;
  min-height: 1em;
}
code p span.line-number {
  position: absolute;
  right: calc(100% + 0.5rem);
  min-width: 4rem;
  text-align: right;
  padding-right: 0.8rem;
  color: #aaa;
  user-select: none;
}